<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" parallel="tests">
  <listeners>
    <listener class-name="listeners.SuiteListener" />
  </listeners>
  
  <test name="Mock Test 2" >
  	<parameter name="browser" value="ie"/>
  	<parameter name="testId" value="TEST01"/>
    <classes>
       <class name="tests.Test01" />
  </classes>
  </test>
</suite>
